/* font-family: 'Forum', cursive; */
/* font-family: 'Inter', sans-serif; */
:root {
  --primary-color: #bb945f;
  --dark-color: #0c0c0e;
  --gray-color: #8e8e8e;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

header {
  padding: 20px 20px;
  height: 90px;
  background: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.humburger {
  display: none;
}
h1 {
  color: #fff;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.menu {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  margin-top: 7px;
}
.humburger_item {
  display: none;
}
a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.overNav {
  display: none;
  position: fixed;
  background: #8e8e8e;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.1;
}
.overNav_active {
  display: block;
}
.menu_item {
  list-style-type: none;
}
.menu_link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.menu_link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.menu_img,
.menu_img_logIn,
.menu_img_tablet {
  position: relative;
  margin-top: 7px;
  margin-left: 40px;
  width: 28px;
  height: 28px;
  fill: white;
}
/* .menu_img_active,
.menu_img_logIn_active {
  display: block;
} */
.icon-profile_letter,
.icon-profile_letter_tablet {
  color: #bb945f;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 100%;
  padding: 4px;
}
.icon-profile_letter:hover,
.icon-profile_letter_tablet {
  cursor: pointer;
  color: black;
}
.menu_img:hover path,
.menu_img_tablet:hover path {
  transition: 0.3s ease-in;
  fill: #bb945f;
  cursor: pointer;
}
.wrapper-menu {
  display: flex;
}
.container {
  /* position: relative; */
  max-width: 1440px;
  margin: 0 auto;
}
.welcome {
  padding-top: 220px;
  min-height: 600px;
  background: url(../pictures/Welcome.jpg) center center/cover;
}
.welcome_text {
  width: 600px;
  background: var(--dark-color);
  padding: 35px 40px;
  color: rgb(255, 255, 255);
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
.about {
  padding: 20px 20px 40px 20px;
}
.title {
  color: var(--dark-color);
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.title_line {
  margin: 20px auto;
  width: 50px;
  height: 1px;
  background-color: var(--dark-color);
}
.subtitle {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.about_slider_section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_slider_wrapper {
  overflow: hidden;
}
.img_gallery {
  width: 9999px;
  transition: margin-left 250ms;
  margin: 0;
  padding: 0;
}
.about_img {
  margin-left: 25px;
  width: 450px;
  height: 560px;
}
.about_img_first {
  margin-left: 0;
}
.about_slider_arrow_prev,
.about_slider_arrow_next {
  display: none;
}
.wrapper_circle {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.about_wrapper_circle {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about_circle_tablet {
  display: none;
}
.about_wrapper_circle:hover {
  cursor: pointer;
}
.about_circle {
  width: 16px;
  height: 16px;
  background: var(--dark-color);
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
.about_circle_active {
  background-color: var(--primary-color);
}
.favorites {
  padding: 0 20px 0 20px;
  margin-top: 16px;
  background: rgb(255, 255, 255);
}
.subtitle_favorites {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
.wrapper_favorites_book_season {
  margin-top: 40px;
}
.wrapper_favorites_book_season label {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}
input[type="radio"] {
  accent-color: black;
}
.wrapper_favorites_book_season label:has(:checked) {
  font-weight: 700;
}
span label {
  margin-left: 105px;
}
.section_favorites_book_shelf {
  display: none;
  animation: fadeOut 1s forwards;
}

.section_favorites_book_shelf_checked {
  display: block;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.book_shelf_wrapper {
  margin-top: 35px;
  margin-bottom: 5px;
  padding: 15px 20px;
  width: 550px;
  height: 555px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  position: relative;
}
.book_shelf_title {
  color: rgb(0, 0, 0);
  font-family: Forum;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}
.book_shelf_title_line {
  width: 60px;
  height: 0;
  border: 1px solid rgb(187, 148, 95);
}
.name_book {
  margin-top: 15px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.autor_book {
  margin-top: 1px;
  text-transform: none;
}
.description_book {
  margin-top: 21px;
  width: 355px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: capitalize;
}

.book_shelf_btn {
  width: 75px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 15px;
  color: var(--dark-color);
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.book_shelf_btn:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
button disabled,
button[disabled] {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  width: 75px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 10px;
  font-weight: 700;
}
button disabled,
button[disabled]:hover {
  cursor: auto;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: white;
}
.book_img {
  position: absolute;
  width: 200px;
  height: 300px;
  right: -40px;
  bottom: -1px;
}
.seasons {
  display: none;
}
.coffeShop {
  margin-top: 54px;
  padding: 0 20px;
}
.coffeShop_subtitle {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.coffeShop_menu {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.coffeShop_menu_title {
  color: var(--primary-color);
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: capitalize;
}
.coffeShop_menu_title_dessert {
  text-align: right;
}
.menu_line {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu_dish {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  float: left;
}
.menu_dish_drink {
  width: 200px;
}
.menu_hyphen {
  margin-left: 60px;
  margin-right: 60px;
  width: 100px;
  height: 0;
  border: 1px solid rgb(187, 148, 95);
}
.menu_price {
  color: rgb(0, 0, 0);
  font-family: Forum;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}
.contacts {
  padding: 0 20px;
  margin-top: 55px;
}
.contact_wrapper {
  display: flex;
  justify-content: space-between;
}
.contact_card_item {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contact_card_item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.contact_card_item_title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
}
.contact_card_item_title2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.contact_map {
  margin-top: 20px;
  width: 696px;
  height: 414px;
}
.libraryCard {
  padding: 0 20px;
  margin-top: 55px;
}
.libraryCard_wrapper {
  display: flex;
  justify-content: space-between;
}
.library_member_card_section {
  margin-top: 20px;
}
.library_member_card_section_title {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.019999999552965164%;
  text-align: center;
}
.member_card_wrapper {
  margin-top: 30px;
  width: 600px;
  height: 386px;
  background: rgb(255, 255, 255);
  border: 3px solid rgb(187, 148, 95);
}
.member_card {
  padding: 20px;
  margin: 20px;
  width: 560px;
  height: 272px;
  background: rgb(187, 148, 95);
}
.member_card_title {
  color: rgb(0, 0, 0);
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.019999999552965164%;
  text-align: left;
}
.member_card_search_name,
.member_card_search_num {
  padding: 8px 0 8px 20px;
  color: var(--primary-color);
  font-family: Forum;
  font-size: 30px;
  margin-top: 22px;
  width: 520px;
  height: 66px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
}
.member_card_search_name::placeholder,
.member_card_search_num::placeholder {
  padding: 8px 0 8px 20px;
  color: var(--gray-color);
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.019999999552965164%;
  text-align: left;
}
.member_card_btn {
  display: block;
  margin: 20px auto 30px auto;
  width: 242px;
  height: 44px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.member_card_btn:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.library_register_card {
  margin-top: 20px;
  width: 456px;
  height: 253px;
}
.library_register_card_title {
  color: rgb(0, 0, 0);
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.019999999552965164%;
  text-align: right;
}
.library_register_card_recommend {
  margin-top: 35px;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.019999999552965164%;
  text-align: right;
}
.library_register_card_btn,
.library_register_card_btn_sigh,
.library_card_btn_profile {
  margin: 35px 0 0 20px;
  width: 75px;
  height: 30px;
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  color: var(--dark-color);
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  float: right;
  transition: all 200ms ease-in-out;
}
.library_card_btn_profile {
  margin: 10px 0 0 20px;
}
.library_register_card_btn:hover,
.library_register_card_btn_sigh:hover,
#modalBuyCard_btn:hover,
.library_card_btn_profile:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
footer {
  padding: 20px 20px 44px 20px;

  margin-top: 41px;
  background: var(--dark-color);
}
.contact_info {
  display: flex;
  justify-content: space-between;
}
.contact_info_adress_link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.contact_info_adress_link:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.info_social {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}
.timetable_item {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.timetable_item_weekend {
  margin-top: 10px;
}
.contact_info_line {
  margin-top: 30px;
  border: 1px solid rgb(255, 255, 255);
}
.real_footer {
  margin-top: 44.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.real_footer_year {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.real_footer_rss {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}
.real_footer_github {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}

.modalLogIn,
.modalRegister,
.modalBuyCard,
.modalProfile {
  display: none;
}
.dropMenuProfileNOAuth,
.dropMenuProfileWITHAuth {
  min-width: 80px;
  height: 115px;
  padding: 5px 3px;
  border: 1px solid black;
  background: #fff;
  position: fixed;
  top: -100%;
  right: 19px;
  transition: all 400ms ease-in-out;
}

.dropMenuProfileNOAuth_active,
.dropMenuProfileWITHAuth_active {
  top: 64px;
  z-index: 3;
}
.modal_active {
  display: block;
}
.modalRegister_active,
.modalLogIn_active,
.modalBuyCard_active {
  display: block;
}
.modalProfile_active {
  display: flex;
}
.dropMenu_title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
.line_pop {
  margin: 5px auto;
  width: 40px;
  height: 1px;
  background: #bb945f;
}
.dropMenu_log {
  display: block;
  margin-top: 15px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.dropMenu_register {
  display: block;
  margin-top: 10px;
  color: #000;
  font-family: Inter;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.dropMenu_MyProfile {
  margin-top: 15px;
  display: block;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.dropMenu_LogOut {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.modalLogIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 262px;
  padding: 20px 25px;
  border: 1px solid black;
  background: #fff;
}
.modalRegister {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 382px;
  border: 1px solid black;
  padding: 20px 25px;
  background: #fff;
}
.modalProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 0.1px solid white; */
  width: 600px;
  height: 400px;
  background: #fff;
}
#modalRegister_close,
.modalLogIn_close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  right: 13px;
  font-size: 20px;
  font-weight: 900;
}
#modalRegister_close:hover,
.modalLogIn_close:hover,
#modalProfile_close:hover,
.modalBuyCard_close:hover {
  cursor: pointer;
}
.title_log_reg {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.modal_label {
  display: block;
  margin-top: 10px;
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}
.modal_label_first {
  margin-top: 20px;
}
.modal_input {
  margin-top: 10px;
  width: 200px;
  height: 20px;
  /* flex-shrink: 0; */
  border: 1px solid #bb945f;
}
.modalLogIn_btn,
.modalRegister_btn {
  margin-top: 20px;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #0c0c0e;
}
.modalLogIn_btn:hover,
.modalRegister_btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.modalLogIn-bottom,
.modalRegister-bottom {
  margin-top: 10px;
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modalLogIn-bottom_link,
.modalRegister-bottom_link {
  margin-left: 10px;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.profile_black {
  width: 240px;
  height: 400px;
  background: rgba(12, 12, 14, 1);
  padding-top: 139px;
}
.profile_logo {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: #fff;
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  padding: 30px 0;
}
.profile_firstLastName {
  margin: 15px auto 0;
  width: 120px;
  height: auto;
  text-align: center;
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  padding: 5px 0;
}
.profile_white {
  position: relative;
  width: 100%;
  background: #fff;
  padding-top: 40px;
}
#modalProfile_close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  right: 18px;
  font-size: 19px;
  font-weight: 900;
}
.profile_title {
  color: #000;
  margin-left: 20px;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.pfofile_info {
  margin-top: 40px;
  display: flex;
}

.profile_visit,
.profile_bonuse,
.profile_book {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pfofile_info_title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.pfofile_info_img {
  margin-top: 10px;
  width: 20px;
  height: 21px;
}
.profile_visit_count,
.profile_bonuse_count,
.profile_book_count {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.pfofile_info_libCard {
  display: flex;
  justify-content: center;
  margin: -5px;
  gap: 35px;
}
.profile_libCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
.profile_libCardlibCard {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.pfofile_info_imglibCard {
  width: 20px;
  height: 21px;
}
.profileRent_title {
  margin: 28px 0 0 20px;
  color: #0c0c0e;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px; /* 80% */
}
.profile_books_rented {
  height: 85px;
  width: 90%;
  margin: 30px 0 0 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  /* overflow-x: scroll; */
  overflow-y: scroll;
}
.profile_footer {
  margin: 8px 0 0 19px;
  display: flex;
  align-items: center;
}
.profile_footer_title {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.profile_cardNumber {
  margin-left: 15px;
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.profile_footer_btn {
  margin-left: 15px;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}
.profile_footer_btn:hover {
  cursor: pointer;
}
.modalBuyCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 540px;
  background: #fff;
}
.modalBuyCard_close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  right: 18px;
  font-size: 22px;
  font-weight: 900;
}
.modalBuyCard_header {
  position: relative;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: 640px;
  height: 60px;
  background: #0c0c0e;
}
.modalBuyCard_main {
  padding: 20px 33px;
  display: flex;
}
.modalBuyCard_infoBankCard {
  width: 200px;
}
.modalBuyCard_infoBankCard legend,
.modalBuyCard_infoBankCard label {
  display: block;
  margin-top: 10px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}
#CardholderName {
  margin-top: 20px;
}
.modalBuyCard_infoBankCard input {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 20px;
  border: 1px solid #bb945f;
}
#expiration_code1,
#expiration_code2,
#modalBuyCard_CVC {
  width: 45px;
  height: 20px;
  display: inline-block;
}
#modalBuyCard_CVC {
  display: block;
}
#modalBuyCard_btn {
  display: inline;
  width: 75px;
  height: 30px;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.modalBuyCard_price {
  display: inline;
  margin-left: 22px;
  color: #0c0c0e;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.modalBuyCard_info {
  margin-top: 10px;
  margin-left: 40px;
  width: 330px;
  color: #8e8e8e;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .menu_img,
  .menu_img_logIn,
  .menu_img_logIn {
    margin-top: 0;
    margin-right: 85px;
  }
  .dropMenuProfileNOAuth,
  .dropMenuProfileWITHAuth {
    right: 100px;
  }
  .humburger {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    width: 45px;
    height: 22px;
  }
  .humburger_active {
    display: none;
  }
  .humburger span {
    display: block;
    width: 45px;
    height: 2px;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 1);
  }

  .nav {
    position: fixed;
    background: var(--dark-color);
    width: 332px;
    top: 0;
    right: -100%;
    transition: right 0.5s ease 0s;
    z-index: 3;
  }
  .overNav {
    display: none;
    position: fixed;
    background: #8e8e8e;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.1;
  }
  .overNav_active {
    display: block;
  }

  .nav_active {
    right: 0;
  }
  .humburger_item {
    display: block;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 32px;
    right: 25px;
  }

  .menu_cross {
    margin-top: 10px;
    display: block;
    width: 32px;
    height: 32px;
  }
  .menu_img_tablet {
    margin-top: 0;
    margin-right: 37px;
  }
  .menu_cross span {
    margin-bottom: -1px;
    display: block;
    width: 45px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
  }
  .menu_cross span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .menu_cross span:nth-child(2) {
    transform: translateY(2px) rotate(45deg);
  }
  .menu {
    padding: 94px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu_link {
    line-height: 50px;
  }
  .section_favorites_book_shelf {
    justify-content: center;
  }
  .wrapper_favorites_book_season {
    position: sticky;
    background-color: white;
    top: -1px;
    z-index: 2;
  }
  .coffeShop_menu {
    display: block;
  }
  .coffeShop_menu_dessert {
    margin-top: 40px;
  }
  .coffeShop_menu_drink .menu_line {
    justify-content: flex-start;
  }
  .contact_wrapper {
    display: block;
  }
  .contact_map {
    margin: 100px auto 0;
    display: block;
    width: 100%;
    height: auto;
  }
  .libraryCard_wrapper {
    display: block;
  }
  .member_card_wrapper {
    margin: 27px auto 0;
  }
  .library_register_card {
    width: auto;
  }
  .library_register_card_title {
    text-align: center;
  }
  .library_register_card_recommend {
    width: 600px;
    margin: 35px auto 0;
    text-align: center;
  }
  .register_card_wrapper_btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  /* .dropMenuProfileNOAuth,
  .dropMenuProfileWITHAuth {
    right: 19px;
  } */
}
@media (max-width: 768px) {
  .welcome {
    background: url(../pictures/Welcome.jpeg) center center/cover;
  }
  .container {
    max-width: 768px;
  }
  .about_slider_wrapper {
    width: 450px;
  }

  span label {
    margin-left: 100px;
  }
  .about_slider_arrow_prev,
  .about_slider_arrow_next {
    display: block;
    margin-top: 36px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .about_circle_tablet {
    display: block;
  }

  .coffeShop {
    padding: 0 18px;
  }
  .contacts {
    margin-top: 59px;
  }
  .contact_map {
    width: 696px;
    height: 414px;
  }
  .library_member_card_section {
    margin-top: 40px;
  }
  footer {
    padding: 23px 20px 45px 19px;
    margin-top: 11px;
    background: var(--dark-color);
  }
  .timetable_item_weekend {
    margin-top: 11px;
  }
  .info_social {
    gap: 16px;
  }
  .title_line {
    margin: 18px auto;
  }
  .wrapper_circle {
    margin-top: 20px;
  }
  .favorites {
    margin-top: 13px;
  }
  .name_book {
    margin-top: 17px;
  }
  .autor_book {
    margin-top: 1px;
  }
  .contact_card_item_title {
    margin-top: 40px;
  }
  .libraryCard {
    margin-top: 60px;
  }
  .library_register_card_recommend {
    margin: 43px auto 0;
  }
  .library_register_card_btn,
  .library_register_card_btn_sigh {
    margin: 38px 0 0 10px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 750px;
  }
  .wrapper_favorites_book_season label {
    font-size: 13px;
  }
  .contact_map {
    width: 100%;
    height: auto;
  }
  @media (max-width: 620px) {
    .welcome_text {
      width: 70%;
      font-size: 30px;
    }
    .member_card_wrapper {
      width: 100%;
      height: auto;
    }
    .member_card {
      width: 94%;
      height: auto;
    }
    .member_card_search_name,
    .member_card_search_num {
      width: 90%;
      height: 50px;
    }
    .member_card_search_name::placeholder,
    .member_card_search_num::placeholder {
      font-size: 20px;
    }
    .library_register_card_recommend {
      width: 100%;
    }
    span label {
      margin-left: 50px;
    }
  }
}
